.advantages {
    padding: 70px 0 80px 0;
    background: #F6F6F6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }
    &__item {
        align-items: center;
        max-width: 238px;
        display: flex;
        flex-direction: column;
    }
    &__subtitle {
        margin-top: 35px;
        font-weight: 700;
        font-size: 18px;
        line-height: 29px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 20px;
        width: 275px;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
        a {
            color: #ff0000;
            text-decoration: underline;
        }
    }
}